body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

/*Nav*/
.menu-fixed{
	width: 100%;
	height: 100px;
	background-color: transparent;
	position: fixed;
	z-index: 9999;
}

.menu-list{
	list-style: none;
	padding:0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.menu-list__logo{
	margin:20px;
	width: 230px;
	height: 45px;
	background-image: url("../img/logo-etapacero.png");
	background-repeat: no-repeat;
	background-size: cover;
	align-self: flex-start;
}
.menu-list__option{
	margin:20px;
	padding-top: 10px;
	text-decoration: none;
}

.btn-link{
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 3px;
}
.btn-link:hover{
	border-bottom: 3px solid #17b7e4;
}

.btn-default{
	background-color: #17b7e4;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding:10px 25px;
	border-radius: 25px;
	/*min-height: 50px;*/
}
.btn-default:hover{
	background-color: #0099c6;
}
/*header*/
.section-one{
	width: 100%;
	height: 884px;
	background: linear-gradient(black, transparent), url("../img/01.jpg");
	background: -o-linear-gradient(black, transparent), url("../img/01.jpg");
	background: -webkit-linear-gradient(black, transparent), url("../img/01.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.section-one__title{
	font-size: 80px;
	font-weight: 400;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 0;
	color: #fff;
	padding:20% 10%;
}

.img-arrow{
	width: 50px;
    height: 55px;
    margin-top: -15%;
}

/*section two*/
.section-two{
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.section-two_white{
	padding: 200px;
	display: inline-block;
	width: 100%;
}
.section-two_left{
	float: left;
	position: relative;
}
.section-two_left:after{
	content: "";
	border-left: 6px solid #17b7e4;
	height: 162px;
	position: absolute;
	top: 15px;
	left: 0;
}
.title-section{
	font-size: 30px;
	color: #4a4a4a; 
	line-height: 1.75; 
	font-weight: 700;
	margin: 0;
	padding-left: 30px;
}
.parrafo-section{
	font-size: 20px;
	width: 532px;
	color: #4a4a4a;
	font-weight: 400;
	padding-left: 30px;
}
.section-two_imageLeft{
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	float: right;
	margin-left: 100px;
}
.section-two_imageRight{
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 100px;
}
.uno{
	background-image: url('../img/icon-chat.png');
}
.dos{
	background-image: url('../img/icon-website.png');
}
.tres{
	background-image: url('../img/icon-consultoria.png');
}
.cuatro{
	background-image: url('../img/icon-mobile-app.png');
}
.section-two_gray{
	background-color: #f9f9f9;
	padding: 200px;
	display: inline-block;
	width: 100%;
}
.section-two_right{
	float:right;
	position: relative;
}

.section-two_right:after{
	content: "";
	border-left: 6px solid #17b7e4;
	height: 162px;
	position: absolute;
	top: 15px;
	left: 0;
}

/**/
.section-three{
	width: 100%;
	background: linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/02.jpg");
	background: -o-linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/02.jpg");
	background: -webkit-linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/02.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
}
.section-five{
	width: 100%;
	background: linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/03.jpg");
	background: -o-linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/03.jpg");
	background: -webkit-linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/03.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
}
.section-seven{
	width: 100%;
	background: linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/04.jpg");
	background: -o-linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/04.jpg");
	background: -webkit-linear-gradient(rgba(0,0,0, 0.8), rgba(51,51,51, 0.5)), url("../img/04.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: no-repeat;
}

.section-three__content{
	padding: 200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.section-three__title{
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 0;
	color: #fff;
	padding-bottom: 20px;
}

/*section four*/
.section-four{
	background-color: #f9f9f9;
}
.title-section-four{
	margin: 0;
	font-size: 50px;
	font-weight: 400;
	color: #4a4a4a;
	text-align: center;
	padding: 80px 0;
	vertical-align: middle;
	position: relative;
}
.title-section-four:after{
	content: "";
	border-bottom: 3px solid #17b7e4;
	width: 60px;
	position: absolute;
	left: 28%;
    bottom: 48%;
}
.title-section-four:before{
	content: "";
	border-bottom: 3px solid #17b7e4;
	width: 60px;
	position: absolute;
	right: 28%;
    bottom: 48%;
}
.section-four__content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.section-four__box{
	width: 510px;
  	height: 372px;
  	box-shadow: 0 10px 10px 0 rgba(155, 155, 155, 0.4);
  	background-color: #ffffff;
  	padding-top: 60px;
  	margin: 20px;
}
.icon-image{
	width: 105px;
	height: 105px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.one{
	background-image: url('../img/icon-idea.png');
}
.two{
	background-image: url('../img/icon-cohete.png');
}
/*iconos de seccion 6*/
.three{
	background-image: url('../img/icon-support.png');
}
.four{
	background-image: url('../img/icon-collaboration.png');
}
.five{
	background-image: url('../img/icon-problem.png');
}
.six{
	background-image: url('../img/icon-team.png');
}
.section-four__text{
	text-align: center;
	padding:40px 60px;
}



